.divSection1 {
  height: auto;
  width: 100vw;
  z-index: 1;
  position: relative;
  overflow-y: hidden;
}

main {
  overflow: hidden;
}

.dots {
  background: transparent;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 5px 5px;
  background-position: 0px 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
}

video {
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;
}

.latestWorkHeader {
    font-size: 6em;
    color: white;
    /* font-weight: 700; */
    text-align: center;
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 40%;
    margin: 0;
}



.divSection2 {
  /* height: 30rem;
    width: 100%; */
}
